
.list-home2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
    width: 200px;
    border-top: 2px solid #91ad41;
    border-radius: 2px;
    position: absolute;
    margin-left: 180px;
    margin-top: -45px;
    background-color: #fff;
}
.item1:hover .list-home2{
    display: block;
}
.item1:hover i{
    color:#91ad41;
}
.item1:hover{
    color:#91ad41;
}
.fa{
    position: absolute;
    margin-top: 15px;
    margin-left: 131px;
}