
.div-list{
    display: none;
}
.list-feature {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-flex;
    flex-direction: row;
    position: absolute;
    width: 700px;
    height: 200px;
    border :1px solid rgba(0,0,0,.15);
    border-top: 2px solid #91ad41;
    border-radius: 2px;
    left:0%;
    top:100%;
    background-color:#fff;
}
.item{
    text-align: left;
    line-height: 30px;
    font-size: 16px;
    width: 175px;
    padding-left:15px ;
}
.item-cata {
    line-height: 40px;
}
.list-item li{
    border-top :1px solid rgba(0,0,0,.15);
}
.list-item li a:hover{
   display: block;
   color:#91ad41;
}

.menu-feature a{
    display: block;
}
.menu-feature:hover .div-list{
    display: block;
}
.menu-feature:hover i{
    color:#91ad41;
}
.menu-blog:hover a{
    display: block;
    color:#91ad41;
}
.menu-about:hover a{
    display: block;
    color:#91ad41;
}
.menu-contact:hover a{
    display: block;
    color:#91ad41;
}

